<ion-list>
    <ion-radio-group [value]="selectedMethod"
                     (ionChange)="onChangeShippingMethod($event)">

        <div *ngFor="let method  of shippingMethods">
            <ion-item lines="none"
                      class="radio"
                      [ngClass]="{'selected-radio': selectedMethod.type === method.type}">
                <ion-radio slot="start"
                           class="mr-16"
                           [value]="method">
                </ion-radio>
                <div fxLayout="row"
                     fxLayoutGap="15px"
                     class="ion-align-items-center">

                    <div class="description-option">
                        <h1>{{method.name | translate}}</h1>
                        <p>{{method.description | translate}}</p>
                    </div>
                </div>

            </ion-item>
        </div>


    </ion-radio-group>
</ion-list>



<div class="direction"
     [ngSwitch]="selectedMethod.type">

    <ng-container *ngSwitchCase="shippingTypes.DELIVERY">

        <div fxLayout="column">
            <ion-radio-group [value]="addressSelected"
                             (ionChange)="onChangeAddress($event)">
                <ion-item lines="none"
                          class="radio"
                          [ngClass]="{'selected-radio': addressSelected.id === address.id}"
                          *ngFor="let address of userAddress">

                    <ion-radio slot="start"
                               class="mr-16"
                               [value]="address"></ion-radio>

                    <div fxLayout="row"
                         fxLayoutGap="15px"
                         class="ion-align-items-center">

                        <div class="description-option">
                            <h1>{{address.name}}</h1>
                            <h2>{{address.phone}}</h2>
                            <h2>{{address.firstAddress}}</h2>
                            <p>{{address.country}}</p>
                            <p>{{address.state}}</p>
                            <p>{{address.city}}</p>

                        </div>
                    </div>

                    <ion-buttons slot="end"
                                 class="ml-5">
                        <ion-button fill="clear"
                                    (click)="editAddress(address)">
                            <ion-icon slot="icon-only"
                                      name="create-outline"></ion-icon>
                        </ion-button>
                    </ion-buttons>

                </ion-item>
            </ion-radio-group>

            <a class="mt-16"
               (click)="addNewAddress()">{{'general.addNewAddress' | translate}}</a>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="shippingTypes.PICKUP">
        <ion-radio-group [value]="addressSelected"
                         (ionChange)="onChangeAddress($event)">
            <ion-item lines="none"
                      class="radio"
                      [ngClass]="{'selected-radio': addressSelected.id === address.id}"
                      *ngFor="let address of pickupAddress">

                <ion-radio slot="start"
                           class="mr-16"
                           [value]="address"></ion-radio>

                <div fxLayout="row"
                     fxLayoutGap="15px"
                     class="ion-align-items-center">

                    <div class="description-option">
                        <h1>{{address.name}}</h1>
                        <h2>{{address.phone}}</h2>
                        <p>{{address.firstAddress}}</p>
                    </div>
                </div>
            </ion-item>
        </ion-radio-group>
    </ng-container>

</div>

<ion-button class="ion-float-right btn mt-16"
            (click)="useThisAddress()">
    {{'general.useThisAddress' | translate}}
</ion-button>