ion-item {
    --border-style: none;
    font-weight: bold;
    font-size: 16px;
}

.main-container {
    width: 90%;
    margin: 0 auto;
}

.flag {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

ul {
    margin: 0;
}
ul li {
    list-style: none;
}
